<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p>This is a ( <%= @restaurant.category %> ) restaurant.</p>
  <%= link_to "See all restaurants", restaurants_path %>
